/*Background*/
body {
    margin: 0;
    padding: 0;
    background-color: #334485;
}

/* Scroll behaviour */
html {
    scroll-behavior: smooth;
}

/* Main heading/Company name */
h1 {
    font-family: "Metal Mania", system-ui;
    text-align: center;
    font-size: 60px;
    color: #c0c8ed;
}

/* Text under main image */
div.home-text {
    font-family: "Zalando Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #c0c8ed;
    max-width: 850px;
    text-align: justify;
}

/* Contact us - title */
h2 {
    font-family: "Metal Mania", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #c0c8ed;
    font-size: 40px;
    padding-left: 70px;
}

/* Main image */
.home-image {
    width: 850px;
    border-radius: 8px;
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.1);
}

/*Product images (side by side) */
.column {
    width: 33.33%;
    background: #283770;
    padding: 20px;
    border: 1px solid #283770;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    flex: 0 1 300px;
}

.column img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.column p {
    line-height: 1.4;
    margin-top: 10px;
    color: #c0c8ed;
}

/* Small text for products 1, 2 and 3 */
.productOneText, .productTwoText, .productThreeTest {
    font-family: "Zalando Sans", sans-serif;
}

/* Big text for products 1, 2, and 3 */
.p1, .p2, .p3 {
    font-family: "Metal Mania", sans-serif;
    font-size: 20px;
}

/* Contact info */
ul.b {
    font-family: "Zalando Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #c0c8ed;
    list-style-type: none;
}

/* Map for company */
img.contact_map {
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*Flexbox for contact info and map image*/
div.Contact_info {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 200px;
}

/*Flexbox for home image and text */
div.home_imgtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

/* Navigation bar */
ul.a {
    font-family: "Metal Mania", system-ui, sans-serif;
    font-style: normal;
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #283770;
    height: 80px;
    line-height: 80px;
}

ul.a li {
    float: right;
    font-size: 20px;
}

ul.a li:first-child {
    float: left;
    margin-left: 20px;
}

ul.a li img {
    height: 50px;
    margin-top: 15px;
}

ul.a li a {
    color: #c0c8ed;
    text-decoration: none;
    display: block;
    padding: 0 16px;
    line-height: 80px;
}

ul.a li a:hover {
    background-color: #202b57;
}